* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #1a0b2e; 
  padding: 0 2rem;
}

.nav-brand {
  margin-left: 200px;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  
}


.wave {
  background: linear-gradient(90deg, #FF6B6B, #FF4D8E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ee6109;
}

.subscribe-btn {

  margin-right: 200px;
  width: 135px;
  height: 44px;
  background: linear-gradient(45deg, #e3d215, #FF4D8E, #a405c4);
  color: white;
  padding: 0.75rem 2.5rem 0.75rem 1rem ;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  
  transition: transform 0.2s ease;
}

.subscribe-btn:hover {
  transform: scale(1.05);
}

