* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a0b2e;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #1a0b2e; 
  padding: 0 2rem;
}

.nav-brand {
  margin-left: 200px;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  
}


.wave {
  background: linear-gradient(90deg, #FF6B6B, #FF4D8E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ee6109;
}

.subscribe-btn {

  margin-right: 200px;
  width: 135px;
  height: 44px;
  background: linear-gradient(45deg, #e3d215, #FF4D8E, #a405c4);
  color: white;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-btn{
    margin-top: 12px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.subscribe-btn:hover {
  transform: scale(1.05);
}

.banner{
    width: 100%;
    height: 760px;
    position: relative;
}

.banner-bg .wv{
    width: 100%;
    position: absolute;
    z-index: -1;   
}



.banner-content {
  width: 550px;
  height: 558px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.banner-content-img {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-left:;
}

.circle {
  width: 350px;
  height: 350px;
  
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 116px; 
  height: 175px;
}

.banner-new {
  width: 75px;
  height: 38px;
  position: absolute;
  top: 10px;
  right: 30px;
  background: #00FF88;
  color: #1a0b2e;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  z-index: 2;
  align-items: center;
}

.banner-title{
    font-weight: 800;
    font-size: 3.75rem;
    margin-top: 40px;
    color: #ffffff;

}

.banner-text{
    margin-top: 8px;
    font-size: 1rem;
    color: #ffffff;
}


.banner-btn {
  width: 356px;
  height: 44px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
  margin-left: 97px;
}

.spotify{
  width:201px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}

.sub {
  width: 147px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  color: #00FF88;
  border: 1px solid #00FF88;
  background-color: #1a0b2e;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.sptfy, .subb{
    margin-top: 12px 20pxpx 12px 48px;
    font-weight: 600;
    font-size: 1rem;
}

.sptfy-img, .sub-img{
    margin-left: 20px;
}



.spotify {
  background: linear-gradient(35deg, #e3d215, #FF4D8E, #a405c4);
  color: white;
}

.spotify:hover {
  transform: scale(1.05);
}
.sub:hover {
  transform: scale(1.05);
}


.podcast-container{
    width: 100%;
    height: 646px;
    background-color: #1a0b2e;
    color: #ffffff;
}

.podcast-container .podcast-writing{
    width: 1200px;
    height: 222px;
    margin:50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

.podcast-writing .pod-title{
    height: 58px;
    font-weight: bold;
    font-size: 3rem;
    margin: 0 0 16px 0;
    border: none;
    
}

.podcast-writing .pod-text{
    margin-top: 16px;
    font-size: 1rem;
    height: 148px;
    line-height: 20px;
    margin: 0 auto;
    opacity: 80%;
}

.pod-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:80px ;
    padding: 0 200px;
    margin-top: 180px;
    margin-bottom: 120px;
    justify-items: center;
}

.listeners, .episode, .rating, .expert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.card-title{
    color: #00FF88;
    font-size: 4rem;
    margin-bottom: 16px;
}

.card-text{
    font-size: 1rem;
    
}

.choose-container{

  width: 100%;
  height: 1121px;
  background-color: #230e3d;
  color: #ffffff;
}

.choose-container-title{
  width: 1200px;
  height: 59px;
  padding: 120px;
  margin-left: 200px;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.choose-reason{
  width:1200px;
  height: 783px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  margin-left: 165px;
  margin-right: 200px;
}

.choose-card-title{
  margin-top: 16px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 1.5rem;
}


.choose-card-text{
  margin-top: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 60%;
}




.headphone{
  grid-column:span 1;
  grid-row: span 2;
  width: 380px;
  height: 480px;
  background-color: #351165;
  border-radius: 40px;
  
}

.headphone img{
  margin-top: 107px;

}
.choose-reason img{
  padding-top: 40px;
  padding-left: 40px;
  
}

.mobile{
  grid-column: span 2;
  grid-row: span 1;
  width: 790px;
  height: 225px;
  background-color: #351165;
  border-radius: 40px;

}

.global{
  grid-column: span 2;
  grid-row: span 1;
  width: 790px;
  height: 225px;
  background-color: #351165;
  border-radius: 40px;
}

.lighting{
  grid-column: span 2;
  grid-row: span 1;
  width: 790px;
  height: 273px;
  background-color: #351165;
  border-radius: 40px;
}

.resource{
  grid-column: span 1;
  grid-row: span 1;
  width: 380px;
  height: 273px;
  background-color: #351165;
  border-radius: 40px;
}




